{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista filmów ({{ entities|length }})</h1>

    {% for entity in entities %}
    <div class="col-md-8 column">
            <h2>
                {{ entity.tytul }} - ${{ entity.cena }}

            </h2>
            <h4>{{ entity.zamowienia|length }} zakupów</h4>
            <p>
                {{ entity.opis }}
            </p>
            <p> <a href="javascript:recenzje({{entity.id}})">Pokaz Recenzje({{ entity.oceny|length }}) </a>
                | <a href="javascript:recenzje_dodaj({{entity.id}})"> Dodaj nową </a></p>

            {% if app.user %}
            <p>
                <a class="btn btn-success" href="javascript:kup({{entity.id}})">Kup</a> 
                | <a class="btn btn-info" href="{{ path('_edit', { 'id': entity.id }) }}">Edytuj</a>
            </p>
        {% endif %}
        </div>
        
        <div id="{{entity.id}}" style="display:none">
            {% for ocena in entity.oceny %}
                <p>Komentarz:{{ocena.komentarz}} - Ocena: {{ocena.ocena|default(5)}}</p>
                <hr/>
            {% endfor %}

        </div>
        <div id="f_{{entity.id}}" style="display:none">
            <form action="{{path('_ocena')}}" method="post">
            <label>Komentarz</label>
            <textarea name="komentarz"></textarea><hr/>
            <label>Ocena</label>
            <input name="ocena" type="number" stepBy="1" value=""/>
            <input type="hidden" value="{{ entity.id }}" name="film_id"/>
            <input type="submit" style="display:none"/>
            </form>
        </div>

        {% endfor %}



<script type="text/javascript">
    
function recenzje(id)
{
    bootbox.dialog({
      title: "Recenzje",
      message:  $('#'+id).html()
    });
}
function recenzje_dodaj(id)
{
    bootbox.dialog({
      title: "Recenzje",
      message:  $('<div id="p_'+id+'">').append($('#f_'+id).html()),
     buttons: {
        success: {
          label: "Dodaj",
          className: "btn-success",
          callback: function() {
            $('form').ajaxForm(function() { 
                alert("Dodałeś komentarz"); 
            }); 
            $('#p_'+id+' form').submit();

          }
        },
        danger: {
          label: 'Anuluj',
          className: "btn-danger",
          callback: function() {
            //Example.show("uh oh, look out!");
          }
        }
  }});
}
function kup (id) {

    bootbox.confirm("Na pewno chcesz kupić ten film?<br/> Link do pobrania zostanie wysłany na mail podany przy rejestracji", function(result) {
      if (result)
      {
        $.get("{{ path('_zamowienia') }}", 
            {
            film_id: id
        },
            function(data, status){
            alert("Kupiłeś film, zobacz strone 'Sprawdz zamowienia'");
        });
      }
    }); 
    // body...
}
</script>
    {% endblock %}